@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_Layout2";
}
<h1 class="text-center" >Applications </h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Abdikarin Mohamed Ali</td>
      <td>abdikarin@gmail.com</td>
      <td>Student</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Abdimalik Sadak Abdirahman</td>
      <td>abdimalik@gmail.com</td>
      <td>student</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mohamed Abukar</td>
      <td>mohamed@gmail.com</td>
      <td>student</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Yusuf Abdi Mohamed</td>
      <td>yusuf@mail.com</td>
      <td>student</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Zakaria Ali Nor</td>
      <td>zakaria@gmail.com</td>
      <td>student</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Ahmed Kalif Mumin</td>
      <td>ahmed@mail.com</td>
      <td>student</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Abdigafar Jeylani Omar</td>
      <td>abdigafar@gmail.com</td>
      <td>student</td>
    </tr>
  </tbody>
</table>